@import "../css/homePage.css";
@import "../css/Footer.css";
@import "../css/NavBar.css";
@import "../css/card.css";

/*Loading Circle*/

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .comingSoonText{
    text-shadow: 2px 0 #070707, -2px 0 #050505, 0 2px #020202, 0 -2px #030303,
             1px 1px #070707, -1px -1px #070707, 1px -1px #030303, -1px 1px #020202;
  }